.card-movie-style{
    max-width: 17rem !important;
    min-width: 11rem !important;
    background-color: transparent !important;
    border: transparent !important;
}
.card-title-movie {
    color: white !important;
    text-align: end;
}