.form-login {
    width: 80%;
    margin: 2rem auto;
}

.form-input {
    margin: 1rem !important;
    border-radius: 0.3rem !important;
    padding: 0.2rem;
    outline: 0;
    background-color: #294056;
}

.form-input:hover {
    border: none !important;
}

.form-button {
    width: 100%;
    border-radius: 0 !important;
    margin: 1rem !important;
    padding: 0.5rem !important;
    background-color: #2e86c1 !important;
    color: #fff !important;
}

.MuiInputLabel-formControl {
    padding: 0px 5px !important;
    margin: 0 !important;
    background-color: white;
    border: 1px solid #c1c1c1 !important;
    border-radius: 5px;
}

.MuiInputBase-input {
    padding: 15px 10px !important;
    color: white !important;
}
